<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">
    {{ aluno.id ? "Edição" : "Cadastro" }}
  </li>
</ol>
<div class="container">
  <form #alunoForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Aluno cadastrado/atualizado com sucesso!
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngFor="let erro of errors"
        >
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="aluno.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input
            type="text"
            class="form-control"
            disabled="true"
            [ngModel]="aluno.id"
            name="id"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Data de cadastro:</label>
          <input
            type="text"
            class="form-control"
            disabled="true"
            [ngModel]="aluno.dataCadastro"
            name="dataCadastro"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12"><h3 class="mt-2">Dados do Aluno</h3></div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.nome"
            name="nome"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>CPF:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.cpf"
            name="cpf"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>RA:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.ra"
            name="ra"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Data de nascimento:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.dataNascimento"
            name="dataNascimento"
          />
        </div>
      </div>

      <div class="col-md-6">
        Sexo:
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="Masculino"
              [(ngModel)]="aluno.sexo"
            />
            <label class="form-check-label" for="inlineRadio1">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsSexo"
              id="inlineRadio2"
              value="Feminino"
              [(ngModel)]="aluno.sexo"
            />
            <label class="form-check-label" for="inlineRadio2">Feminino</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsSexo"
              id="inlineRadio2"
              value="Outro"
              [(ngModel)]="aluno.sexo"
            />
            <label class="form-check-label" for="inlineRadio2">Outro</label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Deficiência:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.deficiencia"
            name="deficiencia"
          />
        </div>
      </div>

      <div class="col-md-12">
        <h3 class="mt-2">Dados dos Pais ou Responsáveis</h3>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Nome da Mãe:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.nomeMae"
            name="nomeMae"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>CPF da Mãe:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.cpfMae"
            name="cpfMae"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Contato da Mãe:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.contatoMae1"
            name="contatoMae1"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Outro contato:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.contatoMae2"
            name="contatoMae2"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Nome do Pai:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.nomePai"
            name="nomePai"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>CPF do Pai:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.cpfPai"
            name="cpfPai"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Contato do Pai:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.contatoPai1"
            name="contatoPai1"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Outro contato:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.contatoPai2"
            name="contatoPai2"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Nome do(a) Responsável:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.nomeResponsavel"
            name="nomeResponsavel"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>CPF do(a) Responsável:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.cpfResponsavel"
            name="cpfResponsavel"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Contato do(a) Responsável:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.contatoResponsavel1"
            name="contatoResponsavel1"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Outro contato:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.contatoResponsavel2"
            name="contatoResponsavel2"
          />
        </div>
      </div>

      <div class="col-md-12"><h3 class="mt-2">Dados Escolares</h3></div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Escola:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.nomeEscola"
            name="nomeEscola"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Série escolar:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.serieEscolar"
            name="serieEscolar"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Professor:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.nomeProfessor"
            name="nomeProfessor"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Professor especial:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.nomeProfessorEspecial"
            name="nomeProfessorEspecial"
          />
        </div>
      </div>

      <div class="col-md-3">
        Período escolar:
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsPeriodo"
              id="inlineRadio1"
              value="Manhã"
              [(ngModel)]="aluno.periodoEscolar"
            />
            <label class="form-check-label" for="inlineRadio1">Manhã</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsPeriodo"
              id="inlineRadio2"
              value="Tarde"
              [(ngModel)]="aluno.periodoEscolar"
            />
            <label class="form-check-label" for="inlineRadio2">Tarde</label>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        Necessita cuidador:
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsCuidador"
              id="inlineRadio3"
              value="Sim"
              [(ngModel)]="aluno.necessitaCuidador"
            />
            <label class="form-check-label" for="inlineRadio3">Sim</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptionsCuidador"
              id="inlineRadio4"
              value="Não"
              [(ngModel)]="aluno.necessitaCuidador"
            />
            <label class="form-check-label" for="inlineRadio4">Não</label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Cuidador:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.cuidador"
            name="cuidador"
          />
        </div>
      </div>

      <div class="col-md-12"><h3 class="mt-2">Endereço</h3></div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Logradouro:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.logradouro"
            name="logradouro"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Numero:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.numero"
            name="numero"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Bairro:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.bairro"
            name="bairro"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Cidade:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.cidade"
            name="cidade"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Estado:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.estado"
            name="estado"
          />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>CEP:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="aluno.cep"
            name="cep"
          />
        </div>
      </div>

      <div class="col-md-12"><h3 class="mt-2">Relatórios</h3></div>

      <div class="col-md-12">
        <div class="form-group">
          <span class="input-group-text">Resumo do aluno</span>
          <textarea
            class="form-control"
            [(ngModel)]="aluno.resumoAluno"
            name="resumoAluno"
          ></textarea>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <span class="input-group-text">Outras informações</span>
          <textarea
            class="form-control"
            [(ngModel)]="aluno.outrasInfos"
            name="outrasInfos"
          ></textarea>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <span class="input-group-text">Relatório médico</span>
          <textarea
            class="form-control"
            [(ngModel)]="aluno.relatorioMedico"
            name="relatorioMedico"
          ></textarea>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <span class="input-group-text">Relatório pedagógico</span>
          <textarea
            class="form-control"
            [(ngModel)]="aluno.relatorioPedagogico"
            name="relatorioPedagogico"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success" *ngIf="!aluno.id">
          <i class="fa fa-save"></i> Salvar
        </button>
      </div>

      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" *ngIf="aluno.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>
      </div>

      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-danger"
          (click)="voltarParaListagem()"
        >
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
