<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <footer class="py-4 bg-transparent mt-auto">
          <div class="container-fluid">
            <router-outlet></router-outlet>
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Tudo Azul 2021</div>
            </div>
          </div>
        </footer>
      </div>
    </main>
  </div>
</div>
